@import url('https://db.onlinewebfonts.com/c/fe90d2b331edb90ed36369d0c270d5b6?family=BeaufortW01-Bold');

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: sticky;
  align-items: left;
  justify-content: left;
  position: sticky;
  top: 0;
  cursor: pointer;
  height: 80px;
}

li a:hover:not(.active) {
  border-bottom: 3px solid rgba(241, 206, 118);
}

.active {
  border-top: 3px solid rgba(169, 216, 226, 0.8);
  border-bottom: 3px solid rgba(169, 216, 226, 0.8);
}

.background {
  background: black;
  background-blend-mode: darken;
  background-size: cover;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo img {
  width: 144px;
  height: 80px;
  border-radius: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.nav-list li {
  list-style: none;
  padding: 26px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: 'BeaufortW01-Bold', cursive;
}

.rightnav {
  width: 30%;
  text-align: right;
}

.firstsection {
  background-color: white;
  height: 400px;
}

.secondsection {
  background-color: rgba(169, 216, 226, 0.8);
  height: 400px;
}

.thirdsection {
  background-color: rgba(42, 159, 184, 0.8);
  height: 400px;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 80%;
  margin: auto;
  height: 80%;
}

.firsthalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-big {
  text-align: center;
  font-family: 'Piazzolla', serif;
  font-weight: bold;
  font-size: 35px;
}

.text-small {
  text-align: left;
  font-size: 18px;
}

.btn {
  padding: 8px 20px;
  margin: 7px 0;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
}

.btn-sm {
  padding: 6px 10px;
  vertical-align: middle;
}

.text-footer {
  text-align: center;
  padding: 30px;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}

.bilde img {
  vertical-align: center;
  float: right;
  width: 120px;
  border: 2px solid black;
  border-radius: 26px;
  margin-top: 0px;
}
