@import url('https://db.onlinewebfonts.com/c/fe90d2b331edb90ed36369d0c270d5b6?family=BeaufortW01-Bold');
body {
  color: white;
  background-image: url('https://gitlab.stud.idi.ntnu.no/dinahst/systemutvikling/-/wikis/uploads/8b4f8d4aa3a982755961ef742821f44a/image.png');
  background-color: #cccccc;
  background-size: 200%;
  font-family: 'Times New Roman', Times, serif;
}

.fireworks{
  position: absolute;
  z-index: -1000;
  width: 200%;
  height: 200%;
}

.content {
  margin: 30px;
}

.btn:hover {
  background-color: rgb(145, 68, 168);
}

.butn:hover {
  background-color: rgb(47, 158, 209);
}

.tournament {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vmin;
  margin-right: 100px;
}

.leftside {
  display: flex;
}

.rightside {
  display: flex;
  flex-direction: row-reverse;
}

.round {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 0px;
}

.match,
.final {
  margin-bottom: 2vmin;
  overflow: hidden;
  width: 180px;
}

.final {
  margin-top: 15px;
}

.team,
.teamR2,
.teamR3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  background-color: white;
  height: 25px;
  text-align: center;
}

.team:nth-child(odd) {
  margin-bottom: 12.5px;
}

.teamR2:nth-child(odd) {
  margin-bottom: 49.5px;
}

.teamR3:nth-child(odd) {
  margin-bottom: 123.5px;
}

.verticalround1 {
  height: 12.5%;
  margin: 0 auto;
  width: 0px;
}

.verticalround2 {
  height: 25%;
  margin: 0 auto;
  width: 0px;
}

.verticalround3 {
  height: 50%;
  margin: 0 auto;
  width: 0px;
}

.horisontal,
.horisontalFinal {
  width: 20px;
  height: 0px;
}

.horisontalFinal {
  margin-left: 3px;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: sticky;
  width: 183%;
  align-items: left;
  justify-content: left;
  position: sticky;
  top: 0;
  cursor: pointer;
  height: 80px;
}

li a:hover:not(.active) {
  border-bottom: 3px solid rgba(241, 206, 118);
}

.active {
  border-top: 3px solid rgba(169, 216, 226, 0.8);
  border-bottom: 3px solid rgba(169, 216, 226, 0.8);
}

.background {
  background: black;
  background-blend-mode: darken;
  background-size: cover;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo img {
  width: 144px;
  height: 80px;
  border-radius: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.nav-list li {
  list-style: none;
  padding: 26px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: 'BeaufortW01-Bold', cursive;
}

.btn {
  padding: 8px 20px;
  margin: 7px 0;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
}

.butn {
  padding: 8px 20px;
  margin: 7px 0;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
}

.btnT {
  font-family: 'BeaufortW01-Bold', cursive;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 1000;
  font-style: bold;
  font-size: 0.625rem;
  letter-spacing: 0.3em;
  color: rgba(169, 216, 226, 0.8);
  border-radius: 1;
  padding: 8px 25px 10px;
  transition: all 0.3s ease-out;
  background: linear-gradient(
    360deg,
    rgba(169, 216, 226, 0.8),
    rgba(42, 159, 184, 0.8),
    rgba(33, 127, 147, 0.8),
    rgba(21, 79, 92, 0)
  );
  background-position: 10% 0%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 2px solid rgba(169, 216, 226, 0.8);
}

.btnT:hover {
  color: #fff;
  border: 2px solid rgba(223, 190, 106, 0.1);
  color: white;
  background-position: 99% 50%;
}

.btnR {
  font-family: 'BeaufortW01-Bold', cursive;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 1000;
  font-style: bold;
  font-size: 0.625rem;
  letter-spacing: 0.3em;
  color: rgba(244, 67, 54);
  border-radius: 1;
  padding: 8px 25px 10px;
  transition: all 0.3s ease-out;
  background: linear-gradient(
    360deg,
    rgba(244, 67, 54, 0.8),
    rgba(195, 53, 43, 0.8),
    rgba(146, 40, 32, 0.8),
    rgba(97, 26, 21, 0)
  );
  background-position: 10% 0%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 2px solid rgba(244, 67, 54);
}

.btnR:hover {
  color: #fff;
  border: 2px solid rgba(244, 67, 54, 0.1);
  color: white;
  background-position: 99% 50%;
}

.btnW {
  font-family: 'BeaufortW01-Bold', cursive;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  text-align: center;
  font-weight: 1000;
  font-style: bold;
  font-size: 0.625rem;
  letter-spacing: 0.3em;
  color: rgba(241, 206, 118);
  border-radius: 1;
  padding: 8px 25px 10px;
  transition: all 0.3s ease-out;
  background: linear-gradient(
    360deg,
    rgba(223, 190, 106, 0.8),
    rgba(146, 111, 52, 0.8),
    rgba(89, 76, 42, 0.8),
    rgba(44, 38, 21, 0)
  );
  background-position: 10% 0%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  margin-left: 750px;
  border: none;
  border: 2px solid rgba(223, 190, 106);
}
