@import url('https://db.onlinewebfonts.com/c/fe90d2b331edb90ed36369d0c270d5b6?family=BeaufortW01-Bold');
* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: sticky;
  align-items: left;
  justify-content: left;
  position: sticky;
  top: 0;
  cursor: pointer;
  height: 80px;
}

li a:hover:not(.active) {
  border-bottom: 3px solid rgba(241, 206, 118);
}

.active {
  border-top: 3px solid rgba(169, 216, 226, 0.8);
  border-bottom: 3px solid rgba(169, 216, 226, 0.8);
}

.background {
  background: black;
  background-blend-mode: darken;
  background-size: cover;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo img {
  width: 144px;
  height: 80px;
  border-radius: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.nav-list li {
  list-style: none;
  padding: 26px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: 'BeaufortW01-Bold', cursive;
}

.rightnav {
  width: 30%;
  text-align: right;
}

.firstsection {
  background-color: green;
  height: 400px;
}

.secondsection {
  background-color: blue;
  height: 400px;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 80%;
  margin: auto;
  height: 80%;
}

.firsthalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondhalf {
  width: 30%;
}

.secondhalf img {
  width: 70%;
  border: 4px solid white;
  border-radius: 150px;
  display: block;
  margin: auto;
}

.text-big {
  font-family: 'Piazzolla', serif;
  font-weight: bold;
  font-size: 35px;
}

.text-small {
  font-size: 18px;
}

.btn {
  padding: 2px 4px;
  margin: 7px;
  border: 0.5px solid black;
  background: none;
  color: red;
  cursor: pointer;
}

.btn-sm {
  padding: 6px 10px;
  vertical-align: middle;
}

.section {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}

.section-Left {
  flex-direction: row-reverse;
}

.paras {
  padding: 0px 65px;
}

.thumbnail img {
  width: 250px;
  border: 2px solid black;
  border-radius: 26px;
  margin-top: 19px;
}

.center {
  text-align: center;
}

.text-footer {
  text-align: center;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}

body {
  color: white;
  background-image: url('https://gitlab.stud.idi.ntnu.no/dinahst/systemutvikling/-/wikis/uploads/8b4f8d4aa3a982755961ef742821f44a/image.png');
  background-color: #cccccc;
  background-size: 200%;
  font-family: 'Times New Roman', Times, serif;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnS {
  font-family: 'BeaufortW01-Bold', cursive;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 1000;
  font-style: bold;
  font-size: 0.625rem;
  letter-spacing: 0.3em;
  color: rgba(169, 216, 226, 0.8);
  border-radius: 1;
  padding: 8px 25px 10px;
  transition: all 0.3s ease-out;
  background: linear-gradient(
    360deg,
    rgba(169, 216, 226, 0.8),
    rgba(42, 159, 184, 0.8),
    rgba(33, 127, 147, 0.8),
    rgba(21, 79, 92, 0)
  );
  background-position: 10% 0%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 2px solid rgba(169, 216, 226, 0.8);
}

.btnS:hover {
  color: #fff;
  border: 2px solid rgba(223, 190, 106, 0.1);
  color: rgba(169, 216, 226, 0.8);
  background-position: 99% 50%;
}

.btnG {
  font-family: 'BeaufortW01-Bold', cursive;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 1000;
  font-style: bold;
  font-size: 0.625rem;
  letter-spacing: 0.3em;
  color: rgba(241, 206, 118);
  border-radius: 1;
  padding: 8px 25px 10px;
  transition: all 0.3s ease-out;
  background: linear-gradient(
    360deg,
    rgba(223, 190, 106, 0.8),
    rgba(146, 111, 52, 0.8),
    rgba(89, 76, 42, 0.8),
    rgba(44, 38, 21, 0)
  );
  background-position: 10% 0%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 2px solid rgba(223, 190, 106);
}

.btnG:hover {
  color: #fff;
  border: 2px solid rgba(223, 190, 106, 0.1);
  color: white;
  background-position: 99% 50%;
}
